<div class="main" ng-controller="HomeCtrl">
    <h2>Home</h2>

    <div layout="row">
        <md-button class="md-raised" ng-click="showAlert($event)">Hello There!</md-button>
    </div>

    <div layout="row">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.</p>
    </div>
    <md-content>
        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
        <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
        <h4>Only weekends are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>Only weekends within given range are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>With ngMessages</h4>

        <form name="myForm">
            <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                           required md-min-date="minDate" md-max-date="maxDate"
                           md-date-filter="onlyWeekendsPredicate"></md-datepicker>
            <div class="validation-messages" ng-messages="myForm.dateField.$error">
                <div ng-message="required">This date is required!</div>
                <div ng-message="mindate">Date is too early!</div>
                <div ng-message="maxdate">Date is too late!</div>
                <div ng-message="filtered">Only weekends are allowed!</div>
            </div>
        </form>
    </md-content>
</div>
