/* Component LESS */

/* Add Component LESS Above */

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

md-content {
  padding-bottom: 200px;

  .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px;
  }
}
